<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Filmstagram</title>
		<link href="https://fonts.googleapis.com/css?family=Cookie&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/main.css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>
	<body>

		<nav id="navbar" class="navbar navbar-expand-lg fixed-top">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  		</button>


			<div class="collapse navbar-collapse my-2" id="navbarSupportedContent">

					<div class='mx-auto d-flex'>
						<div id='icon-div'>
							<a href='/movies' class="fas fa-video fa-2x text-dark mt-1"
								style='text-decoration: none;'
							>
							</a>
						</div>
						<div id='filmsta-div'>
							<a id='filmsta' class="navbar-brand text-body py-0" href="/movies">
								Filmstagram
							</a>
						</div>
					</div>

					<div class='mx-auto d-flex'>
						<form action="/movies/search" method="GET">
                <div class="cntr">
                    <input id='header-search'
											class="form-control" type="text"
											placeholder="Search Movies/TV Series"
											name="search" autocomplete="off"
										>
                </div>
            </form>
					</div>

					<div class='mx-auto d-flex'>
						<% if (!currentUser) { %>
							<span>
								<a class="nav-link text-dark <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>" href='/login'>Login</a>
							</span>
							<span>
								<a class="nav-link text-dark <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>" href='/register'>Sign Up</a>
							</span>
							<span>
								<a class="nav-link text-dark" href='/about'>About</a>
							</span>
						<% } else { %>
							<span>
								<a class="nav-link text-dark" href='/movies/new'>Post</a>
							</span>
							<span>
								<a class="nav-link text-dark" href='/about'>About</a>
							</span>
							<span>
								<a class="nav-link text-dark" href='/logout'>Logout</a>
							</span>
						<% } %>
					</div>

		  </div>

		</nav>

		<div class="container mt-5">
	     <% if (error && error.length > 0) { %>
	       <div class="alert alert-danger"><p><%= error %></p></div>
	     <% } %>

	     <% if (success && success.length > 0) { %>
	       <div class="alert alert-success"><p><%= success %></p></div>
	     <% } %>
	  </div>
